{% extends "main.html" %}
{% block title %}Espacios{% endblock %}

{% block nav %}{{super()}}{% endblock %}
{% block item_3 %} active fw-bold text-danger{% endblock %}
{% block content %}
<div class='container'>
      <p></p>
      <h1 class="text-center">Espacios</h1>
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#userModal">
        Modifica espacios
      </button>
      <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Tipo de vehículo</th>
                <th scope="col">Espacios</th>
            </tr>
        </thead>
        <tbody>          
          {% for cant, tv in parqueos %}
          <tr>
            <td>{{tv.nombre}}</td>
            <td>{{cant.capacidad}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <form action="#" method="POST">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modifica espacios parqueadero</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          {% for cant, tv in parqueos %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="{{tv.nombre}}" value="{{cant.capacidad}}" placeholder="{{tv.nombre}}" name="{{tv.nombre}}">
              <label for="{{tv.nombre}}">{{tv.nombre}}</label>
            </div>
          {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Guardar</button>


          </div>
        </div>
      </div>
      </form>
    </div>
{% endblock %}